body
{
    display: flex;
   flex-direction: column;
   border: 3px  solid   blue;
   height: 100vh; 
   background-color: yellowgreen;
}

main
{
    display: flex;
    flex-direction: row;
    flex: auto;
}

article
{
    flex: 2;
    overflow-y: auto;
}

aside
{
    flex: 1;
    overflow-y: auto;
}

header li
{
    size: 100px;
}